<div class="footer_barrier bg-dark"></div>

<footer class="footer justify-content-center align-items-center bg-light">
    <div class="container">
        <a href="#">Customer information</a>
        <p></p>
        <a href="#">GDPR</a>
        @*<a class="btn btn-social-icon btn-twitter">
                <span class="fa fa-twitter"></span>
            </a>*@
   &copy; 2021 - Bakdelar.se - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
