<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewData["Title"] - Bakdelar</title>
    <link href="~/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/fontawesome/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Coustard&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="section-header py-4" id="banner-image">
        <div class="container ">

            <div class="d-flex justify-content-center">
                @*<div class="col">
                </div>*@
                <img src="~/images/bakdelarlogosvart.png" style=""/>
                @*<div class="col">

                    <h1 id="brand-font">B A K D E L A R . S E</h1><br />
                    <h2 id="slogan-font">Att få söta saker att hända.</h2>
                </div>
                <div class="col">
                </div>*@
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm sticky-top">

        <div class="container-fluid">
            <div class="row" style="width: 100%">

                <div class="col justify-content-start">

                    <ul class="navbar-nav ml-auto">
                        <li class="navbar">
                            @*navbar-toggler*@
                            <button class="btn navbar-dark btn-secondary" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            </li>
                        </ul>
                </div>
                <div class="col">
                    <ul class="navbar-nav mr-auto justify-content-center" id="navbarNavAltMarkup">
                        <li class="navbar-nav">
                            <a class="nav-item nav-link active navbar-text" href="/">Hem</a>
                        </li>
                        @*<li class="navbar-nav">
                            <a class="nav-item nav-link navbar-text" href="Categories">Kategorier</a>
                        </li>*@
                        <li class="navbar-nav">
                            <a class="nav-item nav-link navbar-text" href="Checkout">Kassa</a>
                        </li>
                    </ul>

                </div>
                <div class="col d-flex justify-content-end">

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="navbar">
                            <div class="btn-group dropleft">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="material-icons" id="dropdown_basket">
                                        shopping_basket
                                    </span>
                                </button>

                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header">Varukorg</h6>
                                    <div class="dropdown-divider"></div>
                                    <partial name="_ShoppingBasket.cshtml" />
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="Checkout">Till kassan</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="body" class="container-fluid">
        <div class="row">
            <div class="col p-0 m-0 mb-1 justify-content-center">
                <div class="collapse bg-light" id="navbarToggleExternalContent">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." />
                        <span class="input-group-btn">
                            <button class="btn" type="submit">
                                <i class="material-icons">
                                    search
                                </i>
                            </button>
                        </span>
                    </div>
                    <div class="ml-3 pb-3">
                        <div class="ml-3">
                            <h1 style="font-size: 1rem;">Kategorier</h1>
                            <div class="ml-7">
                                Bakning
                            </div>
                            <div class="ml-7">
                                Dekoration
                            </div>
                            <div class="ml-7">
                                Redskap
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 container justify-content-center align-items-center" style="margin-top: -0.5rem;">
                <div class="row justify-content-center shadow-sm px-2 p-3 mb-5 bg-white rounded min-vh-100">

                    <main role="main">

                        @RenderBody()
                    </main>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <footer class="border-top footer justify-content-center align-items-center bg-dark">
        <div class="container text-light">
            <a href="#">Customer information</a>
            <a href="#">GDPR</a>  
            @*<a class="btn btn-social-icon btn-twitter">
                <span class="fa fa-twitter"></span>
            </a>*@
            &copy; 2021 - Bakdelar.se - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
        </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
