<div class="collapse bg-light" id="navbarToggleExternalContent">
    <form method="get" action="#">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Sök..." />
            <span class="input-group-btn">
                <button class="btn" type="submit">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </span>
        </div>
    </form>
    <div class="ml-3 pb-3">
        <div class="ml-3">
            <h1 style="font-size: large;">Kategorier</h1>
            <div class=" border-top"></div>
            <div style="font-size: medium;">
                <div class="ml-7">
                    Bakning
                </div>
                <div class="ml-7">
                    Dekoration
                </div>
                <div class="ml-7">
                    Redskap
                </div>
                <div class="ml-7">
                    Kalas
                </div>
                <div class="ml-7">
                    Dukning
                </div>
                <div class="ml-7">
                    Ballonger
                </div>
                <div class="ml-7">
                    Strössel
                </div>
                <div class="ml-7">
                    Bakmixer
                </div>
                <div class="ml-7">
                    Ingredienser
                </div>
            </div>
        </div>
    </div>
</div>